<html>
    <head>
        <title>Meme Website</title>
        <meta name="Viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="30;url=http://127.0.0.1:80/" />
        <style>
        body {background-color: #000000;background-repeat: no-repeat;background-position: top-left}
        p {text-align:center;font-family:Georgia,serif;font-size:48px;font-style:none}
        </style>
    </head>
    <body>
        <h1>A website to gather some meme</h1>
        <h1>Here is your meme. this will refresh in 25 sec</h1>
        <p><img src="{{meme_pic}}"></p>
        <p>current subreddit :{{subreddit}}</p>
    </body>
</html>